body {
    background-color: #fffbf7;
}

h1 {
    color: #46484c;
    text-align: center;
}

p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}
input{
    height: 3rem;
    width: 15rem;
}
button {
    color: #fff;
    background-color: #025157;
    width: 5rem;
    height: 3rem;
    margin: 0 0 0 1rem;

}

form{
    margin-left: 40%;
    
    display: flex;
    align-items: center;
}
div {
    width: 300px;
    margin: 0 15% ;
}
  